
<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			Name
		</th>
		<th>
			Age
		</th>
		<th>
			Tel
		</th>
		<th>
			Mail
		</th>
	</tr>
	<tr>
		<td><%=@result.id %></td>
		<td><%=@result.name %></td>
		<td><%=@result.age %></td>
		<td><%=@result.tel %></td>
		<td><%=@result.mail %></td>
	</tr>
</table>
