
<tr>
	<td>
		<a href="show?id=<%=mydata.id %>">
			<%=mydata.id %>
		</a>
	
	</td>
	
	<td>
	<%= mydata.name%>
	</td>
	<td>
	<%= mydata.age%>
	</td>
	<td>
	<%= mydata.tel%>
	</td>
	<td>
	<%= mydata.mail%>
	</td>
	<td>			
		<span class="bt_delete" value="<%=mydata.id %>">
			Delete
		</span>
	</td>
	
	<td>			
		<span class="bt_update" value="<%=mydata.id %>">
			update
		</span>
	</td>
	
</tr>
